@keyframes wait {0%{opacity: 1;}100%{opacity: 0;}}
$mainColor : #b79a5f;
$subColor : #ffffff;
$black:#000000;
.aboutMain{
    padding-top: 160px;
}
.sect{display: flex;justify-content: center;padding: 0 40px;}
.scroll-content{
    opacity: 0;
    transition-duration: 0.6s;
    transform: translate(0%,20px);
}
.wait{
    width: 100%;
    height: 100%; 
    background-color: #fff;
    position: absolute;
    pointer-events: none;
    top: 0;
    opacity: 1;
    animation: 0.6s 0.6s wait forwards;
}
.opac1{
    opacity: 1;
}
.transUp{
    transform: translate(0%,0px);
}
.titleContainer{
    display: none;
    margin-right: 40px;
    position: relative;
    padding-bottom: 180px;
    h2{
        display: inline-block;
        width: 400px;
        color: $black;
        position: sticky;
        top:270px;
        font-size: 64px;
        line-height: 80px;
    }
}
.sect1{
    position: relative;
    .content{
        border-bottom: 1px solid #dddddd;
    }
    .content:last-child{
        border-bottom: 1px solid #dddddd00;
        margin-bottom: 180px;
    }
}
.sect2, .sect3{
    .content{
        margin-bottom: 180px;
    }
}
.sect2{
    .contentWrap{
        width: 100%;
        .content{
            width: 100%;
            max-width: 780px;
            margin: auto;
        }
    }
}
.content{
    margin-bottom: 100px;
    h2.mobile{text-align: left;font-size: 50px;line-height: 76px;letter-spacing: -2px; font-weight: bold;color:$black;margin-bottom: 40px;}
    h3{font-size: 20px;margin-bottom: 30px;color: $black;}
    p.china{font-size: 24px;margin-bottom: 30px;}
    .logoContent{
        border-right: 1px solid rgba(0,0,0,0.1);
        background: url(/img/bg_pattern_line.png);
        max-width: 615px;
        width: 100%;
        height: 219px;
        position: relative;
        margin-bottom: 60px;
        img{
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            width: auto;
        }
    }
    h4{text-align: left; font-size: 32px; font-weight: normal; letter-spacing: -3px;color: $black;margin-bottom: 60px;}
    h5{font-size: 16px;font-weight: normal;letter-spacing: -1px;margin-bottom: 20px;color: $black;}
    .exp{font-size: 15px;line-height: 28px;letter-spacing: -1px;margin-bottom: 60px;color:#666666;}
    .subTitle{font-size: 28px;font-weight: bold;letter-spacing: -2px;color: $black;display: block;margin-bottom: 32px;}
    ul.exp{
        margin-bottom: 0px;
        li{
            margin-left: 22px;
            list-style: disc;
    }}
    p.exp{
        line-height: 24px;
        font-size: 15px;
    }
    .fs32{color: $black;font-size: 32px;margin-top: -4px;margin-right: 60px;margin-bottom: 30px;}
    .fs21{color: $black;font-size: 21px;line-height: 32px;margin-bottom: 28px;}
    .selfi{
        max-width: 540px;margin-bottom: 60px;
    }
    .manInfo{
        p.bold{
            color: $black;
            margin-top: 24px;
            font-size: 16px;
            font-weight: bold;
        }
        p.light{
            font-size: 15px;
            margin-top: 14px;
            color: #666666;
            line-height: 28px;
            font-weight: 300;
        }
    }
}
@media screen and (min-width:1280px){
    .aboutMain{
        padding-top: 160px;
    }
    .sect2{
        .contentWrap{
            .content{
                max-width: 780px;
                margin: 0;
            }
        }
    }
    .sect{display: flex;justify-content: space-between;padding:0;}
    .sect3{justify-content: flex-start;}
    .titleContainer{display: block;}
    .mobile{display: none;}
    .content{
        margin-bottom: 100px;
        h3{font-size: 32px;margin-bottom: 40px;color: $black;}
        .logoContent{
            width: 615px;
            height: 219px;
            margin-bottom: 60px;
        }
        h4{font-size: 48px;text-align: left;}
        h5{font-size: 21px;text-align: left;}
        .exp{font-size: 16px;text-align: left;}
        .subTitle{font-size: 28px;letter-spacing: -2px;margin-bottom: 32px;display: flex;}
        ul.exp{
            li{margin-left: 22px;
        }}
        p.exp{
            line-height: 36px;
            font-size: 18px;
        }
        .fs32{font-size: 32px;margin-top: -4px;margin-right: 60px;margin-bottom: 0;}
        .fs21{font-size: 21px;line-height: 32px;margin-bottom: 28px;}
        .selfi{max-width: 540px;margin-bottom: 60px;}
        .manInfo{
            p.bold{
                margin-top: 34px;
                font-size: 18px;
            }
            p.light{
                margin-top: 2px;
                line-height: 28px;
            }
        }
    }
}