$mainColor : #b79a5f;
$subColor : #ffffff;
$black:#000000;
.img-boxing{
    width: 100%;
    max-width: 600px;
    margin-bottom: 60px;
    img{
        display: block;
        width: 100%;
        max-width: 500px;
    }
}
.img-boxbox{
    max-width: 600px;
    margin: auto;
}
.img-thumb{
    margin: 40px 0;
}
.img-container{
    margin: 80px 0;
    display: block;
}
.img-content{
    margin: 0 20px;
    margin-top: 80px;
    img{
        margin: auto;
    }
}
img.auto{
    width: auto;
}
img.auto2{
    width: 70%;
    max-width: 329px;
}
img.auto3{
    max-width: 100px;
}
img.auto4{
    width: 100%;
    max-width: 200px;
}
img.thumb2{
    margin:0 auto 0px;
    max-width: 140px;
}
.scroll-content{
    opacity: 0;
    transform: translate(0%,30%);
    transition-duration: 0.6s;
}
.opac1{
    opacity: 1;
}
.transUp{
    transform: translate(0%,0%);
}
.closed{
    width: 100%;
    max-width: 50px;
    display: block;
    padding: 20px 0;
    margin:180px auto 0;
}
.closed-text2{
    text-align: center;
}
h4.closed-text2{
    font-size: 18px;
    b{
        color: #b79a5f;
    }
}
h5.closed-text2{
    margin-top: 10px;
    margin-bottom: 220px;
    font-size: 14px;
    color: #666666;
    b{
        color: #b79a5f;
    }
}
.ready{
    opacity: 0;
    transform: translate(0%,20px);
    &.on{
    opacity: 1;
    transition-duration: 0.6s;
    transform: translate(0%,0%);
}
}
.thumb-popup{
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    display: none;
    .thumb-container{
        width: 100%;
        height: 100%;
        .thumb-bg{
            position: relative;
            width: 100%;
            height: 45%;
            margin:10vh auto 0;
            img{
                position: absolute;
                transform: translate(-50%,-50%);
                left: 50%;
                top: 50%;
                display: block;
                height: 100%;
                width: auto;
            }
        }
        .thumb-text{
            margin-top: 20px;
            h4{
                text-align: center;
                font-size: 18px;
                color: white;
                font-weight: 300;
            }
        }
    }
&.on{
    display: block;
}
}
nav{
    .navWrap{
        h1{
            display: none;
        }
    }
}
.gnb-mobile{
    display: block;
    .gnb-mobile-list{
        font-size: 16px;
        // width: 190px;
        cursor: pointer;
    }
    .this{
        display: flex;
        border: 1px solid #ededed;
        border-radius: 20px;
        padding: 8px 12px;
        p{
            margin-right: 8px;
        }
        img{
            width: 18px;
            height: 18px;
            transform: translate(0%,4px);
        }
    }
    .others{
        background-color: #fff;
        display: none;
        position: absolute;
        top: 68px;
        // border-top: 1px solid #ededed00;
        a{
            padding: 8px 12px;
            display: block;
        }
    }
}
.awardMain{
    width: 100%;
    margin-top: 200px;
    .awardMain__row1{
        padding-top: 20px;
        width: 100%;
        position: absolute;
        top: 0;
        .awardMain__row1-wrap{
            width: 100%;
            max-width: 1720px;
            margin: auto;
            position: relative;
            .gnb{
                display: none;
                width: 100%;
                .gnb-list{
                    font-size: 18px;
                    margin-bottom: 0px;
                    margin-right: 20px;
                    text-align: right;
                    display: flex;
                    justify-content: flex-end;
                    a{
                        color: #999999;
                    }
                    .btn{
                        display: flex;
                    }
                &.on{
                    a{
                        color: $mainColor;
                    }
                }
                }
            }
        }
    }
    .awardMain__row-box1{
        margin: auto;
        width: 100%;
        max-width: 1200px;
        padding: 0 20px;
        .awardMain__row-box1--img-box{
            img{
                display: block;
                margin: auto;
                width: 100%;
            }
        }
        .awardMain__row-box1--text-box{
            border-bottom: 1px solid #dddddd;
            padding-top: 24px;
            padding-bottom: 140px;
            *{font-weight: 400;text-align: center;}
            img{
                display: block;
                width: 100%;
                max-width: 405px;
                margin: auto;
            }
            h2{
                font-weight: 700;
                color: $mainColor;
                font-size: 32px;
                letter-spacing: -1px;
                font-family: 'Noto Serif KR', serif;
            }
            h3{
                font-size: 20px;
                letter-spacing: -0.5px;
                margin-top: 40px;
                color: #000;
            }
            p{
                font-size: 16px;
                margin-top: 20px;
                color: #666666;
            }
        }
    }
    .awardMain__row-box2{
        padding: 0 20px;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        margin-bottom: 160px;
        margin-top: 160px;
        .awardMain__row-box2--wrap{
            &.bd{
                border-bottom: 1px solid #dddddd;
            }
            width: 100%;
            margin: auto;
            .awardMain__row2-box--content-box{
                max-width: 600px;
                // padding: 30px 0 30px;
                margin: 10px auto 50px;
                border-top: 1px solid $mainColor;
                border-bottom: 1px solid $mainColor;
                .p1{
                    font-size: 15px;
                    margin-bottom: 16px;
                    color: #000;
                    line-height: 28px;
                    letter-spacing: -0.5px;
                    text-align: center;
                }
                .p2{
                    font-size: 16px;
                    color: #666666;
                    text-align: center;
                }
            }
            .awardMain__row2-box--content h3{
                font-weight: 800;
                font-family: 'Song Myung', serif;
                font-size: 24px;
                width: 100%;
                max-width: 600px;
                margin: auto;
            }
            .awardMain__row2-box--content h5{
                font-size: 22px;
                font-family: 'Times New Roman', Times, serif;
            }
            .awardMain__row2-box--content h3,
            .awardMain__row2-box--content h5{
                color: $mainColor;
                text-align: left;
            }
            .awardMain__row2-box--content-box-wrap{
                margin-top: 80px;
                .awardMain__row2-box--content--column{
                    margin: 0 auto 80px;
                    .awardMain__row2-box-content-img{
                        width: 100%;
                        max-width: 280px;
                        margin: auto;
                        margin-bottom: 0px;
                        img{
                            display: block;
                            width: 50%;
                            max-width: 180px;
                            margin:0 auto 40px;
                        }
                    }
                }
            }
            .awardMain__row2-box--foot-text{
                font-size: 32px;
                letter-spacing: -3px;
                font-family: 'Nanum Myeongjo', serif;
            }
        }
        h2.awardMain__row2-box--head-text{
            color: $mainColor;
            // font-family: 'Nanum Myeongjo', serif;
            font-family: 'Song Myung', serif;
            font-size: 52px;
            margin-bottom: 60px;
            letter-spacing: 1px;
        }
        p.exp{
            // margin-bottom: 100px;
            font-size: 15px;
            color: #000;
            line-height: 24px;
            letter-spacing: -0.5px;
        }
        .awardMain__row-box2--img-box{
            padding-top: 4%;
            width: 100%;
            max-width: 615px;
            height: 219px;
            margin: auto;
            background: url(/img/bg_pattern_line.png);
            img{
                width: auto;
                display: block;
                margin:auto;
            }
        }
        .awardMain__row-box2--text-box{
            margin-bottom: 120px;
            h3{
                margin-top: 60px;
                font-size: 18px;
            }
            h4{
                margin-top: 40px;
                font-weight: 400;
                font-size: 24px;
            }
            h5{
                margin-top: 32px;
                font-size: 16px;
                letter-spacing: -1px;
            }
            p.exp2{
                margin-top: 40px;
                font-size: 14px;
                color: #000;
                line-height: 24px;
                letter-spacing: -0.5px;
            }
        }
    }
    .awardMain__row-box3{
        padding:0 ;
        margin-bottom: 60px;
        h2{
            letter-spacing: -1px;
            font-weight: 100;
            font-family: 'Nanum Myeongjo', serif;
            font-family: 'Song Myung', serif;
            color: #000;
            font-size: 28px;
            text-align: center;
        }
    }
    .row-history{
        max-width: 1200px;
        width: 100%;
        padding: 0 20px;
        margin:0 auto 160px;
        .row-history__header{
            h3{
                font-family: 'Song Myung', serif;
                font-size: 32px;
                color: $mainColor;
                font-weight: 600;
                letter-spacing: -1px;
            }
            h4{
                font-family: 'Times New Roman', Times, serif;
                font-weight: 200;
                color: #b79a5f6c;
                font-size: 24px;
                margin: 12px 0 0 0;
            }
        }
        .row-history__body{
            margin:60px 0 0 0;
            display: block;
            .row-history__body--col{
                width: 100%;
                max-width: 900px;
                .row-history__body--col--content{
                    margin-bottom: 40px;
                    display: block;
                    .p1{
                        display: inline-block;
                        margin-top: 7px;
                        border-bottom: 2px solid #bc9653;
                        font-size: 18px;
                        font-weight: bold;
                        font-family: 'Times New Roman', Times, serif;
                        color: #bc9653;
                    }
                    .p2{
                        font-size: 16px;
                        margin-top: 14px;
                        min-width: 310px;
                        line-height: 32px;
                        color: #000;
                    }
                    .p3{
                        font-size: 16px;
                        line-height: 32px;
                    }
                    // .line-zero{
                    //     line-height: 22px;
                    // }
                    .gold-line{
                        border-bottom: 2px solid #bc9653;
                    }
                }
            }
        }
    }
    .row3{
        width: 100%;
        .poster-container{ 
            width: 100%;
            margin-bottom: 100px;
            padding: 0 20px;
            h3{
                font-size: 24px;
                font-weight: bold;
                letter-spacing: -1px;
            }
            .poster-wrap{
                margin-top: 40px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .poster-content{
                    height: auto;
                    opacity: 1;
                    transition-duration: 0.3s;
                    width: 100%;
                    margin-bottom: 60px;
                    .poster-bg{
                        width: 100%;
                        cursor: pointer;
                        // background-color: #000;
                        img{
                            display: block;
                            width: auto;
                            height: 100%;
                            margin: auto;
                        }
                    }
                    h4{
                        display:-webkit-box;
                        // word-wrap:break-word;
                        -webkit-line-clamp:2;
                        -webkit-box-orient:vertical;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        height:44px;
                        line-height:22px;
                        margin-top: 10px;
                        font-size: 16px;
                        font-weight: 500;
                        // text-align: center;
                    }
                    p{
                        margin-top: 8px;
                        font-size: 14px;
                        color: #666666;
                    }
                &.hide{
                    margin-bottom: 0px;
                    pointer-events: none;
                    height: 0;
                    opacity: 0;
                }
                }
            }
            .more-btn{
                display: flex;
                cursor: pointer;
                border: 1px solid #dddddd;
                width: 186.5px;
                padding: 15px 40px;
                margin: auto;
                justify-content: space-between;
                p{
                    font-size: 14px;
                    font-weight: 500;
                    color: #666666;
                }
                img{
                    width: 20px;
                    height: 5.5px;
                    margin-top: 6px;
                }
            }
        }
    }
}
@media screen and(min-width:678px){
    img.auto2{
        width: 100%;
        max-width: 329px;
    }
    img.auto3{
        max-width:auto;
    }
    img.thumb2{
    margin:0 auto 80px;
}
    .img-boxing{
        width: 100%;
        max-width: 600px;
        margin-bottom: 160px;
        img{
            display: block;
            width: auto;
            max-width: 600px;
        }
    }
    .img-content{
        margin: 0 20px;
        margin-top: 0px;
        img{
            margin: auto;
        }
        img.thumb2{
            margin:0 auto 80px;
        }
    }
    .img-container{
        margin: 60px 0;
        display: flex;
    }
    h4.closed-text2{
        font-size: 32px;
    }
    h5.closed-text2{
        margin-top: 20px;
        margin-bottom: 240px;
        font-size: 18px;
    }
    iframe{
        width: 600px;
        height: 450px;
    }
    .closed{
        width: 100%;
        max-width: 100px;
        display: block;
        padding: 40px 0;
        margin:180px auto 0;
    }
    .mediaMain{
        h4.closed-text{
            width: 700px;
            text-align: center;
            font-size: 48px;
            color: #333333;
            margin: 0 auto 120px;
        }
    }
    .thumb-popup{
        .thumb-container{
            .thumb-bg{
                width: 100%;
                height: 70%;
                margin:10vh auto 0;
                img{
                    display: block;
                    margin: auto;
                    height: 100%;
                    width: auto;
                }
            }
            .thumb-text{
                margin-top: 20px;
                h4{
                    font-size: 20px;
                }
            }
        }
    &.on{
        display: block;
    }
    }
    .awardMain{
        margin-top: 200px;
        .awardMain__row-box1{
            display: block;
            padding: 0 40px;
            .awardMain__row-box1--img-box{
                img{
                    display: block;
                    margin: auto;
                    width: 50%;
                    min-width: 598px;
                }
            }
            .awardMain__row-box1--text-box{
                h2{
                    font-size: 48px;
                }
                h3{
                    margin-top: 40px;
                    font-size: 24px;
                }
                p{
                    margin-top: 24px;
                    font-size: 18px;
                }
            }
        }
        .awardMain__row-box2{
            padding: 0 40px;
            .awardMain__row-box2--wrap{
                width: 100%;
                margin: auto;
                .awardMain__row2-box--content-box{
                max-width: 600px;
                padding: 30px 0 50px;
                margin: 30px auto 50px;
                border-top: 3px solid $mainColor;
                border-bottom: 3px solid $mainColor;
                .p1{
                    font-size: 18px;
                }
                }
                .awardMain__row2-box--content-box-wrap{
                    margin-top:50px;
                    display: flex;
                    justify-content: space-between;
                    .awardMain__row2-box--content--column{
                        margin: 0 10px;
                        .awardMain__row2-box-content-img{
                            height: 200px;
                            position: relative;
                            margin-bottom: 50px;
                            img{
                                max-width: auto;
                                width: auto;
                                position: absolute;
                                transform: translate(-50%,-50%);
                                left: 50%;
                                top: 50%;
                            }
                        }
                    }
                }
            }
           h2.awardMain__row2-box--head-text{
               margin-bottom: 60px;
                font-size: 72px;
            }
            p.exp{
                font-size: 18px;
                color: #000;
                line-height: 32px;
            }
            .awardMain__row-box2--text-box{
                margin-bottom: 120px;
                h3{
                    margin-top: 60px;
                    font-size: 20px;
                }
                h4{
                    margin-top: 20px;
                    font-weight: 400;
                    font-size: 38px;
                }
                h5{
                    font-size: 18px;
                    margin-top: 20px;
                    letter-spacing: -1px;
                }
                p.exp2{
                    margin-top: 40px;
                    font-size: 16px;
                    color: #000;
                    line-height: 32px;
                    letter-spacing: -0.5px;
                }
            }
        }
        .awardMain__row-box3{
            padding: 40px 0 ;
        }
        .row-history{
            padding: 0 40px;
        }
        .row3{
            .poster-container{
                padding: 0 20px;
                .poster-wrap{
                    .poster-content{
                        width: calc(33% - 10px);
                    }
                }
                .more-btn{
                    padding: 24px 44px;
                    width: 255px;
                    p{
                        font-size: 16px;
                    } 
                    img{
                        width: 30px;
                        height: 11px;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}
@media screen and(min-width:1280px){
    .img-boxing{
        margin-bottom: 0px;
        img{
            display: block;
            width: auto;
            max-width: 600px;
        }
    }
    .gnb-mobile{
        display: none;
    }
    nav{
        .navWrap{
            h1{
                display: block;
            }
        }
    }
.awardMain{
    margin-top: 267px;
    .awardMain__row1{
        padding-top: 267px;
        width: 100%;
        .awardMain__row1-wrap{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            max-width: 1720px;
            margin: auto;
            position: relative;
            .gnb{
                display: block;
                width: 270px;
                padding-right: 20px;
                .gnb-list{
                    font-size: 18px;
                    margin-right: 0;
                    margin-bottom: 10px;
                    color: #999999;
                    text-align: right;
                    display: flex;
                    justify-content: flex-end;
                    a{font-weight: bold;}
                    .btn{
                        display: flex;
                    }
                    .line{
                        width: 0px;
                        margin-left: 0px;
                        height: 3px;
                        margin-top: 12px;
                        background-color: #999999;
                        transition-duration: 0.2s;
                    &.hover{
                        width: 20px;
                        margin-left: 10px;
                    }
                    }
                &.on{
                    a{
                        color: $mainColor;
                    }
                    .line{
                        background-color: $mainColor;
                        width: 20px;
                        margin-left: 10px;
                    }
                }
                }
            }
        }
    }
    .awardMain__row-box1{
        padding: 0;
        display: flex;
        // justify-content: space-between;
        padding-bottom: 200px;
        margin-bottom: 200px;
        border-bottom: 1px solid #dddddd;
        .awardMain__row-box1--img-box{
            img{
                width: 100%;
            }
        }
        .awardMain__row-box1--text-box{
            border-bottom: 0px none #dddddd;
            padding-top: 10.5%;
            width: 50%;
            // *{text-align: left;}
        }
    }
    .awardMain__row-box2{
        margin-top: 200px;
        margin-bottom: 200px;
        &.m160{
            margin-bottom: 100px;
        }
        margin-top: 160px;
        padding: 0;
        margin-bottom: 200px;
        .awardMain__row-box2--wrap{
            display: -webkit-box;
            width: 100%;
            margin: auto;
            .awardMain__row2-box--content-box{
                max-width: none;
                padding: 30px 0 60px;
                margin: 30px auto 60px;
                border-top: 3px solid $mainColor;
                border-bottom: 3px solid $mainColor;
            }
            .awardMain__row2-box--content h3{
                margin: 0;
                font-size: 32px;
            }
        }
       h2.awardMain__row2-box--head-text{
           min-width: 480px;
           text-align: left;
           margin-bottom: 0px;
           margin-right: 30px;
        }
        p.exp{
            text-align: left;
            // margin-bottom: 160px;
            font-size: 18px;
            color: #000;
            line-height: 32px;
        }
    }
    .row-history{
        width: 100%;
        padding:200px 0 0 ;
        border-top: 1px solid #dddddd;
        .row-history__header{
            h3{
                font-size: 40px;
            }
            h4{
                font-size: 24px;
                margin: 12px 0 0 0;
            }
        }
        .row-history__body{
            margin:100px 0 100px 0;
            display: flex;
            .row-history__body--col{
                width: 100%;
                .row-history__body--col--content{
                    margin-bottom: 40px;
                    display: flex;
                    .p1{
                        display: inline-block;
                        margin-top: 0px;
                        font-size: 18px;
                    }
                    .p2{
                        margin-top: -2px;
                        margin-left: 32px;
                    }
                }
            }
        }
    }
    .row3{
        .poster-container{
            padding: 0 0px;
            margin-bottom: 180px;
            h3{
                font-size: 32px;
                font-weight: bold;
                letter-spacing: -1px;
            }
            .poster-wrap{
                margin-top: 40px;
                .poster-content{
                    width: calc(33.3% - 22px);
                    margin-bottom: 80px;
                    h4{
                        height:54px;
                        line-height:26px;
                        margin-top: 20px;
                        font-size: 18px;
                    }
                    p{
                        margin-top: 10px;
                        font-size: 16px;
                        color: #666666;
                    }
                }
            }
            .more-btn{
                padding: 24px 44px;
                width: 255px;
                p{
                    font-size: 16px;
                }   
            }
        }
    }
}
}
@media screen and(min-width:1780px){
.awardMain{
    .awardMain__row1{
        .awardMain__row1-wrap{
            .gnb{
                display: block;
                width: 270px;
                padding-right: 0px;
            }
        }
    }
}
}