*{
    font-weight: 300;
}
.main{
    width: 100%;
    max-width: 1000px;
    margin:120px auto 100px;
    padding: 0 20px;
}
.head h2{
    font-weight: bold;
    font-size: 24px;
}
.head .row1{
    margin-top: 12px;
    font-size: 14px;
}
.container{
    margin-top: 40px;
}
.list{
    margin-top: 28px;
}
.list h3{
    font-size: 15px;
    margin-top: 14px;
    font-weight: bold;
}
.list .big{
    color: #666666;
    font-size: 13px;
    margin-top:8px;
    line-height: 24px;
}
.list .small{
    color: #666666;
    line-height: 22px;
    font-size: 13px;
    margin-top: 6px;
}
@media screen and (min-width:1280px){
    .main{
        margin: 180px auto;
    }
}